alias cleands='find . -name ".DS_Store" -exec rm {} \;'
alias jn='jupyter notebook'
alias grep='grep --color=auto'

# function to mkdir and cd into it
function mkcd() {
    mkdir -p $1
    cd $1
}

if command -v nvim &> /dev/null
then
    alias vim=nvim

if command -v exa &> /dev/null
then
    alias l='exa'
    alias ls='exa'
    alias ll='exa -ll'
    alias la='exa -la'
fi

if command -v tmux &> /dev/null
then
    alias t='tmux'
    alias tks='tmux kill-session'
fi

if [[ $TERM == "xterm-kitty" ]]; then
  alias ssh="kitty +kitten ssh"
fi
